.addStock{
    position:relative;
    display: block;
    margin: 10px;
    box-sizing: border-box;
    float: left;
    background-color: #eee;
    border: 2px solid black;
    height: 150px;
    width: 150px;   
    background-image: url(../img/plus.png);
    background-size: 100%;

    .inputForm{
        border: 2px black solid;
        position:relative;
        top: 150px;
    }
}

.popUp {
    width: 500px;
    top: 30% !important;
}

.cross {
    cursor: pointer;
}

.icon {
    padding-top: 150px;
}

.input {
    text-align: center;
    width: 100px !important;
    margin-top: 30px !important;
    margin-bottom:0px !important;
}