
.card{
    position:relative;
    display: block;
    margin: 0;
    box-sizing: border-box;
    float: left;

    .name{
        font-family: Calibri, sans-serif;
        color: #333;
        font-size: 30px;
        text-align: center;
    }

    .price, .dayChange, .changePct{
        color: #333;
        position:relative;
        display: block;
        width: 80px;
        margin: 20px;
        box-sizing: border-box;
        float: left;
        background-color: #eee;
        border: 1px solid black;
        
    }

    .price{
        color: #333;
        width: 100px;
    }
    .dayChange{
        color: green;
    }
    .changePct{
        color: green;
    }
}
p {
    width: 10%;
    margin: 20px auto;
    border: 1px solid black;
}
