.card{
    p {
        background-color: yellow;
        color: red;
        width: 10%;
        margin: 20px auto;
    }

    span {
        display: block;
        background-color: green;
        color: yellow;
        width: 10%;
        margin: 20px auto;
    }
}