.title {
    font-weight: bold;
    font-size: 28px;
    &:hover {
        color: lightblue;
        cursor: pointer;
    }
}

.ticker {
    padding-left: 20px;
    font-weight: 600;
    font-size: 18px;
}

.price {
    font-weight: 600;
    font-size: 24px;
}

.pos {
    color:green;
    font-weight: 600;
}

.neg {
    color: red;
    font-weight: 600;
}

.button {
    position: absolute;
    left: 50%; 
}