.cards{
    
    
    .card{
        position:relative;
        display: block;
        margin: 10px;
        box-sizing: border-box;
        float: left;
        background-color: #eee;
        border: 2px solid black;
    }
    p {
        

    }

    span {
        display: block;
        margin: 20px auto;
        border: 2px solid black;
        width: 30%;
        color: black;
    }
    span:hover{
        background-color: black;
        color: #eee;
    }
}