.itemHeader{
    width: 100%;
    display:flex;
    padding-right: 10px;

    div {
        border-radius: 10px;
        min-width: 40px;
        flex-grow: 3;
        text-align: center;
        &:hover {
            background-color: #eeeeee;
        }
    }    
}

.active {
    background-color: #e0e0e0; 
}

.noData {
    position: absolute;
    font-size: 30px;
    top: 45%;
    left: 20%;
    color: teal;
    font-weight: bold;
}